.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 80px);
  margin: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--white);
  transition: all 0.5s ease;
}

.card a {
  color: var(--gray-800);
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card p {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.cardIcon {
  width: 20%;
  height: auto;
}

.cardContent {
  display: flex;
  padding: 0.5rem;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) and (max-width: 1920px) and (max-height: 1080px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 80px);
    margin: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: var(--white);
    transition: all 0.5s ease;
  }

  .card p {
    margin-left: 0.5rem;
    font-size: 1.8rem;
    font-weight: inherit;
  }

  .card h3 {
    font-size: 2rem;
  }

  .cardIcon {
    width: 30%;
    height: auto;
  }
}
