form {
  max-width: 40rem;
  margin: auto;
  background-color: #f4f4f4;
  padding: 3.2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  padding: 5px;
}

input {
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label input[type="checkbox"] {
  margin-right: 5px;
}

button {
  padding: 12px 20px;
  background-color: var(--blue-500);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;

  transition: all 0.5s ease;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) and (max-width: 1920px) and (max-height: 1080px) {
  form {
    font-size: 1.4rem;
    margin: auto;
    padding: 3.2rem;
    width: 40rem;
  }

  button {
    padding: 10px 20px;

    font-size: 1.4rem;
  }

  label {
    font-weight: bold;
    padding: 5px;
  }

  input {
    height: 2rem;
    font-size: 1.2rem;
  }

  select {
    height: 2rem;
    font-size: 1.3rem;
  }

  select option {
    font-size: 1rem;
    height: 0.2rem;
  }
}
