section {
  display: flex;
  flex-direction: column;
  width: 37rem;
  height: 16.88rem;
  margin: 10px;

  margin-left: 1.3rem;
  padding: 15px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--white);
  transition: all 0.5s ease;
}

section:hover {
  transform: scale(1.02);
  z-index: 1;
}

section h3 {
  color: var(--blue-500);
  font-size: 1.6rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-left: -1rem;
}

.container p1 {
  font-size: 1.3rem;
  color: var(--white);
  border-bottom: 3px solid var(--white);
  width: 100%;
}

.container p2 {
  font-size: 1.3rem;
  color: var(--white);
}

.container p3 {
  font-size: 1.3rem;
  color: var(--white);

  border-top: 3px solid var(--white);
  width: 100%;
}

.ativ1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12rem;
  width: 10rem;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--blue-500);
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ativ2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--blue-500);
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ativ3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--blue-500);
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
