body.activeModal {
  overflow-y: hidden;
}
.btnModal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  margin: 10px;
  padding: 0.5rem;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 0cap;
  background: var(--blue-500);
  transition: all 0.5s ease;
  color: var(--white);
  padding: 0.5rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btnModal:hover {
  background: #007bff;
}

.modal,
.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.modalContent {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--white);
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
